# Prerequisites

*.d


# Compiled Object files

*.slo

*.lo

*.o

*.obj


# Precompiled Headers

*.gch

*.pch


# Compiled Dynamic libraries

*.so

*.dylib

*.dll


# Fortran module files

*.mod

*.smod


# Compiled Static libraries

*.lai

*.la

*.a

*.lib


# Executables

*.exe

*.out

*.app

cocos2d
proj.win32/.vs/Ys_Run/v15/.suo
proj.win32/.vs/Ys_Run/v15/Browse.VC.db
proj.win32/.vs/Ys_Run/v15/Solution.VC.db
proj.win32/.vs/Ys_Run/v15/Solution.VC.db-shm
proj.win32/.vs/Ys_Run/v15/Solution.VC.db-wal
proj.win32/Debug.win32/Ys_Run.tlog/Ys_Run.write.1u.tlog
proj.win32/Debug.win32/Ys_Run.tlog/Ys_Run.lastbuildstate
proj.win32/Debug.win32/Ys_Run.tlog/rc.write.1.tlog
proj.win32/Debug.win32/Ys_Run.tlog/rc.read.1.tlog
proj.win32/Debug.win32/Ys_Run.tlog/rc.command.1.tlog
proj.win32/Debug.win32/Ys_Run.tlog/link.write.1.tlog
proj.win32/Debug.win32/Ys_Run.tlog/link.read.1.tlog
proj.win32/Debug.win32/Ys_Run.tlog/link.command.1.tlog
proj.win32/Debug.win32/Ys_Run.tlog/CustomBuildStep.write.1u.tlog
proj.win32/Debug.win32/Ys_Run.tlog/CustomBuildStep.read.1u.tlog
proj.win32/Debug.win32/Ys_Run.tlog/CL.write.1.tlog
proj.win32/Debug.win32/Ys_Run.tlog/CL.read.1.tlog
proj.win32/Debug.win32/Ys_Run.tlog/CL.command.1.tlog
proj.win32/Debug.win32/Ys_Run.pdb
proj.win32/Debug.win32/Ys_Run.log
proj.win32/Debug.win32/Ys_Run.ilk
proj.win32/Debug.win32/Ys_Run.exp
proj.win32/Debug.win32/vc141.pdb
proj.win32/Debug.win32/vc141.idb
proj.win32/Debug.win32/restart_press.png
proj.win32/Debug.win32/restart_normal.png
proj.win32/Debug.win32/res/.gitkeep
proj.win32/Debug.win32/libSpine.pdb
proj.win32/Debug.win32/librecast.pdb
proj.win32/Debug.win32/libcocos2d.pdb
proj.win32/Debug.win32/libcocos2d.exp
proj.win32/Debug.win32/libbullet.pdb
proj.win32/Debug.win32/libbox2d.pdb
proj.win32/Debug.win32/image/wall.png
proj.win32/Debug.win32/image/title.png
proj.win32/Debug.win32/image/press_any_key.png
proj.win32/Debug.win32/image/player_4.png
proj.win32/Debug.win32/image/player_3.png
proj.win32/Debug.win32/image/player_2.png
proj.win32/Debug.win32/image/player_1.png
proj.win32/Debug.win32/image/player.png
proj.win32/Debug.win32/image/enemy_4.png
proj.win32/Debug.win32/image/enemy_3.png
proj.win32/Debug.win32/image/enemy_2.png
proj.win32/Debug.win32/image/enemy_1.png
proj.win32/Debug.win32/image/enemy.png
proj.win32/Debug.win32/image/background.png
proj.win32/Debug.win32/HelloWorld.png
proj.win32/Debug.win32/game.res
proj.win32/Debug.win32/fonts/Marker Felt.ttf
proj.win32/Debug.win32/fonts/arial.ttf
proj.win32/Debug.win32/design/Tag.txt
proj.win32/Debug.win32/design/System.txt
proj.win32/Debug.win32/design/Path.txt
proj.win32/Debug.win32/CloseSelected.png
proj.win32/Debug.win32/CloseNormal.png
